// Specific CSS for your home-page

.container.todo-o-index {
  margin-top: 3vh;
}

.container.todo-o-index h1, h4, p {
  font-family: 'Open Sans', sans-serif;
}

.card {
  margin-top: 3vh;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.card:hover {
  transition: 1s;
  transform: scale(1.02);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.card-body h4 {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
}

.card-body p {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

.card-img-top {
  // min-height: 20vh;
  // max-height: 20vh;
  height: 18vh;
}

.btn-show {
  border: 1px solid;
  border-radius: 5px;
  border-color: #000;
  background-color: transparent;
  margin-right: 10px;
  padding: 10px 15px;
}

.btn-show a {
  text-decoration: none;
  color: #000;
}

.btn-show:hover {
  transition: 0.5s;
  transform: scale(1.02);
}

.btn-show:hover a {
  color: #000;
}
