// Specific CSS for your home-page


.container.todo-o-index {
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.card {
  margin-top: 3vh;
}

.card-body h4 {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-body p {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



.card-img-top {
  // min-height: 20vh;
  // max-height: 20vh;
  height: 18vh;
}

.btn-show {
  border: 1px solid;
  border-radius: 5px;
  border-color: #000;
  background-color: transparent;
  margin-right: 10px;
  padding: 10px 15px;
}

.btn-show a {
  text-decoration: none;
  color: #000;
}
