// Specific CSS for your home-page

.container.todo-o-index {
  margin-top: 3vh;
}
.container.anuncios {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3vh;
  // border: 1px solid;
  // border-color: red;
}
// .card {
//   margin-left: 5vw;
// }

.card-img-top {
  max-height: 19vh;
}
