.map {
  background-size: cover;
  background-position: 50% 65%;
  padding: 150px 0;
  height: 50vh;
}

.container.margin-top-negative h2, h3, h4, p, span, button, input {
  font-family: 'Open Sans', sans-serif;
}

.margin-top-negative {
  margin-top: -75px;
}

.flat-show-card {
  background-color: #f8f9fa;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.flex {
  display: flex;
}

.btn-book {
  border: none;
  border-radius: 5px;
  background-color: #000;
  margin-right: 10px;
  padding: 10px 15px;
  color: #fff;
}

.btn-book:hover {
  transition: 0.5s;
  transform: scale(0.96);
}

.container.barra-acao {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1.5rem;
}

.btn-edit-flat {
  border: 1px solid;
  border-radius: 5px;
  border-color: #000;
  background-color: transparent;
  margin-right: 10px;
  padding: 10px 15px;
}

.btn-edit-flat a {
  text-decoration: none;
  color: #000;
}

.btn-edit-flat:hover {
  transition: 0.5s;
  transform: scale(0.96);
}

.btn-edit-flat:hover a {
  color: #000;
}

.btn-back {
  border: 1px solid;
  border-radius: 5px;
  border-color: #000;
  background-color: transparent;
  margin-right: 10px;
  padding: 10px 15px;
}

.btn-back a {
  text-decoration: none;
  color: #000;
}

.btn-back:hover {
  transition: 0.5s;
  transform: scale(0.96);
}

.btn-back:hover a {
  color: #000;
}

.btn-delete {
  border: none;
  border-radius: 5px;
  background-color: red;
  margin-right: 10px;
  padding: 10px 15px;
  color: #ffff;
}

.btn-delete:hover {
  transition: 0.5s;
  transform: scale(0.96);
}
