<h1><%= "Todos nossos flats (#{@flats.count})" %></h1>

<ul>
  <% @flats.each do |flat| %>
    <li><%= link_to flat.name, flat_path(flat) %></li>
  <% end %>
</ul>


<%= link_to "Adicionar um novo flat", new_flat_path %>
