<h1><%= "All our Flats (#{@flats.count})" %></h1>

<ul>
  <% @flats.each do |flat| %>
    <li><%= link_to flat.name, flat_path(flat) %></li>
  <% end %>
</ul>


<%= link_to "Add a new flat", new_flat_path %>
