<footer class="footer mt-auto">
  <div class="footer-links">
    <a href="https://github.com/Matheus-Zambone"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/matheuszambone/"><i class="fab fa-linkedin"></i></a>
    <a href="https://api.whatsapp.com/send?phone=5511981500101&text=Hello%20Matheus%2C%20how%20are%20you%3F"><i class="fab fa-whatsapp"></i></a>
  </div>
  <div class="footer-copyright">
    <p><strong> Website made by Matheus Zambone </strong></p>
  </div>
</footer>
