<div class="footer">
  <div class="container contato">
    <p>Get in touch with me</p>
      <div class="footer-links">
        <a href="https://github.com/Matheus-Zambone"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/matheuszambone/"><i class="fab fa-linkedin"></i></a>
        <a href="https://api.whatsapp.com/send?phone=5511981500101&text=Hello%20Matheus%2C%20how%20are%20you%3F"><i class="fab fa-whatsapp"></i></a>
      </div>
  </div>
  <div class="footer-copyright">
    <strong> Website made by Matheus Zambone </strong>
    <ul class="list-inline">
      <li class="privacidade">Privacy</li> ・
      <li class="faq">FAQ</li> ・
      <li class="ajuda">Help</li>
    </ul>
  </div>
</div>
