<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "/flats", class: "navbar-brand" do %>
      <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/6/69/Airbnb_Logo_B%C3%A9lo.svg" %>
    <% end %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="ms-auto flex">
        <form class="flex my-2 my-lg-0">
          <input class="form-control me-2" name="query" type="search" placeholder="Search destinations" aria-label="Search" value="<%= params[:query] %>">
          <button class="btn-pesquisar my-2 my-sm-0" type="submit">Search</button>
        </form>
        <button type="button" class="btn-add-flat"><%= link_to "Become a host", new_flat_path %></button>
      </div>
    </div>
  </div>
</nav>
