.form {
  border-radius: 5px;
  background-color: #f8f9fa;
  padding: 15px 20px;
  margin-top: 1.5rem;
  font-family: 'Open Sans', sans-serif;
}
.btn-dark:hover {
  background-color: #000;
  opacity: 1;
  transform: scale(0.95);
  transition: 0.5s;
}
