.navbar {
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid;
  border-color: rgba(0,0,0,0.2);
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 8vw;
}

.btn-pesquisar {
  border: 1px solid;
  border-radius: 5px;
  border-color: #ff375c;
  background-color: transparent;
  color: #ff375c;
  margin-right: 10px;
  padding: 10px 15px;
}

.btn-add-flat {
  border: none;
  background-color: #ff375c;
  border-radius: 5px;
  padding: 10px 15px;
}

.btn-add-flat a {
  text-decoration: none;
  color: #ffff;
}

.btn-add-flat:hover a {
  color: #ffff;
}
