.navbar {
  justify-content: space-between;
  background: #f8f9fa;
  border-bottom: 1px solid;
  border-color: rgba(0,0,0,0.2);
  margin-bottom: 2rem;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 8vw;
}

.btn-pesquisar {
  border: 1px solid;
  border-radius: 5px;
  border-color: #000;
  background-color: transparent;
  color: #000;
  margin-right: 10px;
  padding: 10px 15px;
}

.btn-pesquisar:hover {
  transition: 0.5s;
  transform: scale(0.96);
}

.btn-add-flat {
  border: none;
  background-color: #000;
  border-radius: 5px;
  padding: 10px 15px;
}

.btn-add-flat a {
  text-decoration: none;
  color: #ffff;
}

.btn-add-flat:hover a {
  color: #ffff;
}

.btn-add-flat:hover {
  transition: 0.5s;
  transform: scale(0.96);
}
